
/* ---------------------------About SEction---------------------- */

.about {
padding: 85px 0 55px;
}
.about_me_title {
  margin-bottom: 69px;
}
.about_me {

}
.background {
  max-width: 434px;
  width: 100%;
}
.background_title {

}
.text {
  line-height: 27px;
}
.text:not(:last-child) {
  margin-bottom: 27px;
}
.about_me_essence {
  max-width: 452px;
  width: 100%;
}
.deserts {
  margin-bottom: 95px;
}
.deserts_title {

}
.deserts_skills {
  max-width: 442px;
  width: 100%;
  padding-left: 9px;
}
.projects {

}
.block {
  max-width: 104px;
  width: 100%;
  height: 155px;
}
.value {
  width: 73px;
  height: 73px;
  outline: 1px solid #C6D6BB;
  outline-offset: -8px;
  border: 1px solid #204D15;
  transform: rotate(45deg);
  transform-origin: 36% 87%;
}
.value > div {
  font-family: 'Museo Sans 100';
  font-size: 20px;
  line-height: 24px;
  position: relative;
  transform: rotate(-45deg);
}
.value_75 {
  transform-origin: 72% -25%;
}
.value_154 {
  transform-origin: 75% 0%;
}
.value_8 {
  transform-origin: 68% -45%;
}
.projects_title {
  
}
.reviews {

}
.reviews_title {
  
}
.practice {

}
.practice_title {
  max-width: 43px;
  width: 100%;
}
.connect {
  font-size: 14px;
  line-height: 17px;
}
.connect_title {

}
.connect_essence {
  
}
.connect_contacts {
  max-width: 138px;
  width: 100%;
}
.email {
  color: #204D15;
  border-bottom: 1px solid #C6D6BB;
  padding-bottom: 1px;
} 
.connect_item:not(:last-child) {
  margin-bottom: 15px;
}
.connect_invite {
  max-width: 256px;
  width: 100%;
  align-items: center;
}
.connect_icon {
  width: 64px;
  height: 64px;
  background-color: #C6D6BB;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bust_icon {
  font-size: 24px;
  line-height: 24px;
}
.connect_invite p {
  color: #204D15;
}