
/* -----------------Future Footer---------------- */

.footer {
  padding: 81px 0 98px;
}
.future {

}
.future p {
  font-family: 'Museo Sans 100';
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.66);
}